
/* Header styles start */

.header {
  background-color: #ffffff;
  padding: 0 16px;
/*   width: 100%; */
  border-bottom: 1px solid #D9FFF5;
}

.header__inner {
  min-height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  margin-right: 16px;
  /* position: relative; */
}

.search {
  margin-right: 0;
}

.header__button {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  border: none;
  padding-left: 8px; 
} 

.logo {
  position: absolute;
  top: 15px;
  left: 80px;
  margin: 0;
  z-index: 2;
}

.call-h,
.chat-h,
.profile-h {
  display: none;
}

.call__button::after {
  content: url("../img/call.svg");
  position: absolute;
  top: 10px;
  left: 10px;
}

.chat__button::after {
  content: url("../img/chat.svg");
  position: absolute;
  top: 10px;
  left: 10px;
}

.profile__button::after {
  content: url("../img/profile.svg");
  position: absolute;
  top: 10px;
  left: 10px;
}


.settings__button::after {
  content: url("../img/settings.svg");
  position: absolute;
  top: 10px;
  left: 10px;
}

.search__button::after {
  content: url("../img/search.svg");
  position: absolute;
  top: 10px;
  left: 12px;
}

.settings__button::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 4px;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  border-radius: 1px;
  border: none;
}

@media (min-width: 768px) {

  .header {
    padding: 0 24px;
  }

  .logo {
    margin-left: 30px;
  }

  .call {
    display: block;
  }
  .chat {
    display: block;
  }
  .profile {
    display: block;
    margin-right: 40px;
  }

}

@media (min-width: 1120px) {

  .header {
    background-color: #F8F8F8;
    border-bottom: none;
    padding: 0 32px;
  }

  .header__inner {
    align-items: flex-end;
  }
  
  /* .logo, */
  .call-h,
  .chat-h,
  .profile-h  {
    display: none;  
  }

  .logo {
    left: -180px;
  }

  .item {
    margin-right: 0;
    margin-left: 160px;
    position: relative;
  }

  .settings__button::before {
    content: "Оставить заявку";
    position: absolute;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 24px;
    top: 10px;
    left: -125px;
    min-width: 125px;
    max-height: 24px;;
    background-color: #f8f8f8;
  }
  .search__button::before {
    content: "Статус ремонта";
    position: absolute;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 24px;
    top: 10px;
    left: -125px;
    min-width: 125px;
    max-height: 24px;;
    background-color: #f8f8f8;
  }
}

/* Header styles end */

